[DEFAULT]
extends = "arcutils:local.base.cfg"

PROJECT.title = "EcoRoofs"
HOME_PAGE_APP_KEY = "map"

; Auth
AUTHENTICATION_BACKENDS = [
        "django.contrib.auth.backends.ModelBackend",
        "arcutils.cas.backends.CASBackend"
    ]

STAFF = ["ostarry"]
SUPERUSERS = ["conwayb", "wbaldwin"]

DATABASES.default.ENGINE = "django.contrib.gis.db.backends.postgis"

MAIN_CONTACT_EMAIL = "webteam@pdx.edu"

INSTALLED_APPS = [
        "arcutils.admin.CASAdminConfig",
        "django.contrib.auth",
        "django.contrib.contenttypes",
        "django.contrib.gis",
        "django.contrib.sessions",
        "django.contrib.staticfiles",
        "django_pgcli",
        "arcutils",
        "haystack",
        "rest_framework",
        "{{PACKAGE}}",
        "{{PACKAGE}}.locations",
        "{{PACKAGE}}.pages"
    ]

REST_FRAMEWORK.DEFAULT_RENDERER_CLASSES = [
        "rest_framework.renderers.JSONRenderer"
    ]

HAYSTACK_ENGINE = "haystack.backends.elasticsearch_backend.ElasticsearchSearchEngine"
HAYSTACK_CONNECTIONS.default.ENGINE = "{{HAYSTACK_ENGINE}}"
HAYSTACK_CONNECTIONS.default.URL = "{{ELASTICSEARCH_HOST}}"
HAYSTACK_CONNECTIONS.default.INCLUDE_SPELLING = true
HAYSTACK_CONNECTIONS.default.INDEX_NAME = "{{PACKAGE}}-{{ENV}}"
HAYSTACK_SIGNAL_PROCESSOR = "haystack.signals.RealtimeSignalProcessor"

ARC.versions.openlayers = "3.18.1"
ARC.cdn.paths.ol-css = "openlayers/{openlayers}/ol.css"
ARC.cdn.paths.ol-js = "openlayers/{openlayers}/ol.js"

MAP.server.workspace = "{{PACKAGE}}"
MAP.view.center = [-122.667473, 45.523023]
MAP.view.minZoom = 0
MAP.view.maxZoom = 19
MAP.view.zoom = 12

[dev]
ELASTICSEARCH_HOST = "127.0.0.1:9200"
DATABASES.default.HOST = "localhost"
DATABASES.default.USER = "{{PACKAGE}}"
MAP.server.baseURL = "//localhost:8080/geoserver"

[docker]
extends = "#dev"
ENV = "docker"
DATABASES.default.HOST = "database"
ELASTICSEARCH_HOST = "elasticsearch"
STATIC_ROOT = "/webapps/{{PACKAGE}}/static"

[test]
DATABASES.default.HOST = "localhost"
DATABASES.default.USER = "{{PACKAGE}}"
ELASTICSEARCH_HOST = "127.0.0.1:9200"

[stage]
ADMINS = [["Wyatt Baldwin", "wbaldwin@pdx.edu"], ["Brandon Conway", "conwayb@pdx.edu"]]
ALLOWED_HOSTS = ["ecoroofs.staging.rc.pdx.edu"]
ELASTICSEARCH_HOST = "merope.rc.pdx.edu:9200"
MANAGERS = [["Wyatt Baldwin", "wbaldwin@pdx.edu"], ["Brandon Conway", "conwayb@pdx.edu"]]
MAP.server.baseURL = "//geoserver.stage.rc.pdx.edu/geoserver/"

APPS.map.cdn_urls.css = ["ol-css"]
APPS.map.cdn_urls.js = ["ol-js"]

[prod]
ADMINS = [["Wyatt Baldwin", "wbaldwin@pdx.edu"], ["Brandon Conway", "conwayb@pdx.edu"]]
DEFAULT_FROM_EMAIL = "{{PACKAGE}}.info@pdx.edu"
ELASTICSEARCH_HOST = "themis.rc.pdx.edu:9200"
MANAGERS = [["Wyatt Baldwin", "wbaldwin@pdx.edu"], ["Brandon Conway", "conwayb@pdx.edu"]]
MAP.server.baseURL = "//geoserver.research.pdx.edu/geoserver/"

APPS.map.cdn_urls.css = ["ol-css"]
APPS.map.cdn_urls.js = ["ol-js"]
