@import "node_modules/angular-material/angular-material.scss";
@import "variables.scss";

[ng-cloak] {
    display: none;
}

html, body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a, a md-icon, a md-icon.md-default-theme {
    color: $psu-blue;
    text-decoration: none;
}

.invisible {
    visibility: hidden;
}

.standard-padding {
    padding: 8px 16px;
}

.no-margin {
    margin: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

// Global activity indicator
#activity-indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
}

[ng-view] {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
}

ecoroofs-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Mobile Overrides */
@media (max-width: $layout-breakpoint-sm - 1px) {
    [ng-view] {
        top: 48px;
    }
}
