@import "node_modules/angular-material/angular-material.scss";

[ng-cloak] {
    display: none;
}

.invisible {
    visibility: hidden;
}

.standard-padding {
    padding: 8px;
}

// Global activity indicator
#activity-indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
}
