<header>
  <h1><a href="/#!/" ng-click="$ctrl.close()">Portland Ecoroof Map</a></h1>
  <h3>Explore
      <span class="total__ft2">{{ $ctrl.totalSquareFootage|number }} sq. ft.</span>
      <span class="total__m2" style="display:none;">{{ $ctrl.totalSquareFootage * 0.093 | number }} ft<sup>2</sup></span>
      of Sustainable Roofs in Portland, OR. <a href="/#!/pages/about" ng-click="$ctrl.close()">Learn&nbsp;more &rarr;</a>
  </h3>

  <div class="toolbar__auth">
    <div ng-if="!$ctrl.user.isAuthenticated">
      <a title="Log in" href="/login">
        <md-icon>account_circle</md-icon>
      </a>
    </div>

    <div ng-if="$ctrl.user.isAuthenticated">
      <a href="/admin/" ng-if="$ctrl.user.isStaff">{{ $ctrl.user.fullName }}</a>
      <a href="/logout" title="Log out">Log Out</a>
    </div>
  </div>


  <div class="mobshow toolbar__learn-more">
    <a href="/#!/pages/about" ng-click="$ctrl.close()">Learn&nbsp;more &rarr;</a>
  </div>


  <div class="toolbar__activity" ng-if="$ctrl.totalSquareFootage" hide-xs>
    <div id="activity-indicator" class="invisible">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
  </div>



</header>
