<md-toolbar ng-cloak>

  <header class="experiment-head">

  </header>



    <div class="md-toolbar-tools">
        <md-button title="Main Menu" class="md-icon-button" ng-click="$ctrl.openSidenav()">
            <md-icon>menu</md-icon>
        </md-button>

        <h1>
            <a href="#!/" title="Home">{{ $ctrl.appConfig.title }}</a>
        </h1>

        <span flex></span>

        <span ng-if="$ctrl.totalSquareFootage" hide-xs>
            {{ $ctrl.totalSquareFootage|number }} sq. ft.
        </span>

        <md-button href="/logout" title="Log out" class="md-icon-button"
                   ng-if="$ctrl.user.isAuthenticated">
            <md-icon>exit_to_app</md-icon>
        </md-button>
    </div>

    <div id="activity-indicator" class="invisible">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>

</md-toolbar>
