<md-sidenav class="md-sidenav-right"
            md-component-id="sidenav-map-info"
            md-disable-backdrop
            md-whiteframe="4">
    <md-content layout="column">
        <div layout="row" layout-align="start center">
            <h2 class="md-title no-margin standard-padding" flex>Location</h2>
            <md-button title="Hide sidebar"
                       class="md-icon-button no-margin"
                       ng-click="$ctrl.close()">
                <md-icon>chevron_right</md-icon>
            </md-button>
        </div>

        <md-divider></md-divider>

        <div class="md-subhead" layout="row" layout-align="start center">
            <span flex class="standard-padding">{{ $ctrl.location.name }}</span>
            <md-button title="Center map on this location"
                       class="md-icon-button"
                       ng-click="$ctrl.showLocation($ctrl.location)">
                <md-icon>place</md-icon>
            </md-button>
        </div>

        <md-divider></md-divider>

        <div ng-show="$ctrl.location.$resolved" layout="column" layout-padding>
            <div>{{ $ctrl.location.neighborhood.name }} neighborhood</div>
            <div>{{ $ctrl.location.building_use.name }} usage</div>
            <div>{{ $ctrl.location.square_footage|number }} sq. ft.</div>
            <div ng-if="$ctrl.location.year_built !== null">
                Built in {{ $ctrl.location.year_built }}
            </div>
            <div ng-if="$ctrl.location.watershed">{{ $ctrl.location.watershed.name }} watershed</div>
            <div ng-if="$ctrl.location.irrigated === null">
                May be irrigated (unknown)
            </div>
            <div ng-if="$ctrl.location.irrigated !== null">
                {{ $ctrl.location.irrigated ? 'Is' : 'Is not' }} irrigated
            </div>
            <div ng-if="$ctrl.location.contractor">
                Contractor: {{ $ctrl.location.contractor.name }}
            </div>
            <div>
                {{ $ctrl.location.number_of_roofs|number }} roof(s) at this location
            </div>
            <div ng-if="$ctrl.location.solar_over_ecoroof === null">
                May have solar panels installed (unknown)
            </div>
            <div ng-if="$ctrl.location.solar_over_ecoroof !== null">
                {{ $ctrl.location.solar_over_ecoroof ? 'Has' : 'Does not have' }} solar panels installed
            </div>
            <div ng-if="$ctrl.location.depth !== null">
              Depth: {{ $ctrl.location.depth }} inches
            </div>
            <div ng-if="$ctrl.location.construction_type !== null">
              Roof construction type: {{ $ctrl.location.construction_type.name }}
            </div>
        </div>
    </md-content>
</md-sidenav>
